<div class="container">
<div class="row justify-content-center mt-5">
  <div class="col-xs-8">   
    <div class="card mb-3 shadow" >
      <div class="row g-0">
        <div class="col-md-5">
          <img src="/loginXample.jpeg" class="img-fluid rounded d-block" alt="">
        </div>
        <div class="col-md-7">
          <div class="card-body my-5">
            <h5 class="card-title my-4">Log in</h5>
              <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: "col-sm-12", control_col: "col-sm-12", inline_errors: true) do |f| %>
                <%= f.alert_message "Please fix the errors below." %>
                <div class="field">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@gmail.com"%>
                </div>

                <div class="field">
                  <%= f.password_field :password, autocomplete: "current-password" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                  </div>
                <% end %>

                <div class="actions mt-4">
                  <%= f.submit "Sign In", class: "btn btn-primary mx-3" %>
                  <%= render "devise/shared/links" %>
                </div>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>